<div id="wrapper" >
  <h1>Matrícula</h1>
  <h2>Inglés - Italiano - Alemán - Francés </h2>
  <form  >
    <input  type="radio" id="ingresar" name="action" value="/home/estudiante" checked>
    <div id="inputs">
      <div>
        <input type="text" placeholder="Nombre" autofocus>
        <input type="text" placeholder="Tipo de usuario" autofocus>
        <div>
          <input type="text" placeholder="Correo Electrónico">

          <div>  
            <input type="submit" value="ingresar">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<%= link_to '/home/estudiante', root_path %> 
# => <a href="/">Home</a>
  